/* dark-mode.css */
:root {
    --bg-dark: #030613;
    --text-light: #ffffff;
    --accent: #3498db;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    --bg-dark: #ffffff;
    --text-light: #0a0a0a;
}